.exposition{
    padding: 75px 0;
    .inner_title{
        padding: 0 0 45px 0;
    }
    .container_pb{
        padding-bottom: 75px;
    }
.container_oeuvre{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        position: absolute;
        z-index: -1;
        opacity: 0.3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    img{
        border: solid 1px $primary-light;
        padding: 10px;
    }
    .oeuvre{
        p{
            text-align: center;
        }
        .nom_oeuvre{
            font-family: 'open sans';
            font-size: 14px;
            font-weight: bold;
        }
        .artiste_oeuvre{
            font-family: 'open sans';
            font-size: 14px;
        }
    }
}
}

.accordion{
    h3{
        padding: 0;
    }
    .accordion-button{
        font-family: 'open sans';
        font-size: 17px;
        font-weight: 900;
        color: $primary-color;
    }
    .accordion-button{
        background-color: $primary-light;
        border-radius: 0 30px 0 0;
    }
    .accordion-item:first-of-type .accordion-button{
        border-radius: 0 30px 0 0;
    }
    .accordion-item{
        padding-bottom: 20px;
        border: none;
    }
    .accordion-body{
        font-family: 'open sans';
        line-height: 125%;
    }
}
.rowexpobottom{
    .containerli{
        padding-left: 45px;
    }
    li{
        font-family: 'open sans';
        line-height: 125%;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    li::marker{
        padding-left: 25px;
    }
    .expo1{
        li{
            list-style: disc;
        }
    }
    .expo2{
        li { list-style-image: url('http://musee.local/uploads/2022/05/pdf.svg'); } 
    }
    .expo3{
        li { list-style-image: url('http://musee.local/uploads/2022/05/link.svg'); } 
    }
}